<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">

	<insert id="insertBoard1" parameterType="Board">
		INSERT INTO vue_board (
			title,
			content,
			writer,
			filename
		) VALUES (
			#{title},
			#{content},
			#{writer},
			#{filename}
		)
	</insert>
	
	<update id="insertBoard2" parameterType="Board">
  	 	UPDATE 			vue_board
   		SET
      				 groups = LAST_INSERT_ID(),
      				 orders = '1'

   		WHERE		 b_id = last_insert_id()
	</update>	
	
	<select id="getBoardList" resultType="Board">
		SELECT * FROM
						(select @rownum := @rownum-1 as rownum, (concat(repeat('-', depth), title))as con, 
						ta.*
		FROM 				
						vue_board ta, 
					 (select @rownum := (select COUNT(*)+1 from vue_board ta)) tb 
		ORDER BY 
						groups desc, orders asc)a
	</select>
	
	<select id="getBoardDetail" resultType="Board" parameterType="Integer">
		SELECT		*
		FROM			vue_board
		WHERE		b_id = #{b_id}
	</select>
	
	<update id="addHit" parameterType="Integer">
		UPDATE 		vue_board 
		SET 		hit = hit+1 
		WHERE 		b_id=#{b_id}
	</update>
	
	<delete id="deletePost" parameterType="Integer">
		DELETE 
		FROM 		vue_board 
		WHERE 		b_id = #{b_id}
	</delete>
	
 	<update id="editPost" parameterType="Board">
		UPDATE 		vue_board 
		SET 		title = #{title},
					content = #{content},
					filename = #{filename}
					
		WHERE 		b_id= #{b_id}
	</update> 
	
	<insert id="insertReply1" parameterType="Board">  
        INSERT INTO vue_board (
        		title,
        		content,
        		writer,
        		groups,
        		orders,
        		depth
      ) VALUES (
         #{title},
         #{content},
         #{writer},
         #{groups},
         #{orders}+1,
         #{depth}+1
         )
	</insert>
	
	<update id="insertReply2" parameterType="Board">
  	 	UPDATE 				vue_board 
  	 	SET 				orders = orders+1 
		WHERE 
				 (not b_id =  LAST_INSERT_ID() )
					&amp;&amp; (not orders &lt; #{orders}+1) 
					&amp;&amp; (groups = #{groups})
	</update>
	
	<select id="getCommentList" parameterType="Integer" resultType="Comment">
		SELECT * FROM
						(select @rownum := @rownum-1 as rownum, (concat(repeat('-', depth), content))as con, 
						ta.*
		FROM 				
						vue_comment ta, 
					 (select @rownum := (select COUNT(*)+1 from vue_comment ta)) tb 
		WHERE			ta.bid=#{b_id}
		ORDER BY 
						groups desc, orders asc)a
	</select>
	
	<insert id="createComment1" parameterType="Comment">
		INSERT INTO vue_comment (
			bid,
			content,
			writer
		) VALUES (
			#{bid},
			#{content},
			#{writer}
		)
	</insert>
	
	<update id="createComment2" parameterType="Comment">
  	 	UPDATE 			vue_comment
   		SET
      				 groups = LAST_INSERT_ID(),
      				 orders = '1'

   		WHERE		 c_id = last_insert_id()
	</update>
	
	<delete id="deleteComment" parameterType="Integer">
		DELETE 
		FROM 		vue_comment 
		WHERE 		c_id = #{c_id}
	</delete>
	
	<select id="getCommentDetail" resultType="Comment" parameterType="Integer">
		SELECT			*
		FROM 			vue_comment 
		WHERE			c_id=#{c_id}
	</select>
	
	<insert id="insertReplyComment1" parameterType="Comment">  
        INSERT INTO vue_comment (
        		bid,
        		content,
        		writer,
        		groups,
        		orders,
        		depth
      ) VALUES (
         #{bid},
         #{content},
         #{writer},
         #{groups},
         #{orders}+1,
         #{depth}+1
         )
	</insert>
	
	<update id="insertReplyComment2" parameterType="Comment">
  	 	UPDATE 				vue_comment 
  	 	SET 				orders = orders+1 
		WHERE 
				 (not c_id =  LAST_INSERT_ID() )
					&amp;&amp; (not orders &lt; #{orders}+1) 
					&amp;&amp; (groups = #{groups})
	</update>
	
	<delete id="deleteBoardComments" parameterType="Integer">
		DELETE 
		FROM 		vue_comment 
		WHERE 		bid = #{b_id}
	</delete>
</mapper>